$green-light: #b2c99f;
$green-dark: #93b18f;
$green-vlight: #efefef;

$button-text-dark: #555;
$button-text-light: #fff;

$primary-btn-border: #eeeeee;
$default-btn-border: #adadad;

$nav-a-text: #515151;

body {
  color: rgb(93, 93, 93);
  font-family: LLCircularWeb, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
}

a {
  color: $nav-a-text;
}
a:hover,
a:focus {
  color: $nav-a-text;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

/* Banner image */
.banner {
  background-image: url('https://s3.amazonaws.com/sdevito-web-portfolio/port-banner.png');
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px;
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Panel heading styling */
.panel-default > .panel-heading {
  background-color: $green-light;
  border-color: #ddd;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1px;
  border-radius: 2px;
}

.panel-body {
  margin-left: 0.5rem;
  margin-reight: 0.5rem;
}

.panel-title {
  margin: 0.5rem;
}

/* Resume component */
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
}

/* Skills component */
.skills.header {
  text-align: center;
}

/* Skills flexbox container */
.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55vw;
  justify-content: center;
}

/* Skills panel */
.skills-panel {
  background-color: $green-vlight;
  border-color: #ddd;
  width: 40vw;
  min-width: 350px;
  font-weight: 700;
}

/* Individual skill flex alignment */
.child-skill {
  text-align: center;
  display: inline-block;
  margin: 10px 0 0 2%;
  flex-grow: 1;
  height: 30px;
  width: calc(86% * (1 / 4));
  justify-content: center;
}

/* Experience component */
.experience.header {
  text-align: center;
}

/* Experience panel size */
.experience {
  max-width: 55vw;
}

/* Education component */
.education.header {
  text-align: center;
}

/* Education panel size */
.education {
  max-width: 55vw;
}

/* Contact component */
.contact {
  text-align: center;
  padding: 5vh 0;
}

/* Contact component conent sizes and spacing */
.email {
  height: 50px;
  width: 60px;
}

.email-logo {
  transition: all 1s ease;
  background-size: contain;
  background-image: url('https://s3.amazonaws.com/sdevito-web-portfolio/mailIcon1.png');
  height: 130px;
  width: 130px;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.email-logo:hover {
  background-size: contain;
  transition: all 1s ease;
  background-image: url('https://s3.amazonaws.com/sdevito-web-portfolio/mailIcon2.png');
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact buttons */
.contact-btn,
.contact-btn:link,
.contact-btn:visited {
  color: #333;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  min-width: 100px;
  max-width: 60%;
  position: relative;
  margin-right: 1vw;
  margin-left: 1vw;
  border: 2px solid transparent;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: -1em;
    top: -2px;
    height: 3.3em;
    width: 0;
    border: 1px solid #97b494;
    transition: inherit;
  }

  &:after {
    left: auto;
    right: -1em;
  }

  &:hover {
    border-color: #97b494;
    transition: border-color 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:after,
    &:before {
      right: -2px;
      transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    &:before {
      left: -2px;
      right: auto;
    }
  }
}

/* Banner styles, effects, and align*/
.banner {
  background-size: cover;
  transition: 0.5s ease all;
}

/* Navbar styling pre-scroll */
.navbar {
  opacity: 0.94;
  transition: all 0.5s ease;
  margin-bottom: 0px;
}

/* Navbar styling post-scroll */
.nav-scroll {
  opacity: 1;
  transition: all 0.5s ease;
}

.intro-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 60vh;
  opacity: 1;
  transition: all 1s ease;
  justify-content: center;
}

.intro-container-scroll {
  opacity: 1;
  transition: all 1.5s ease;
}

.me {
  height: 63%;
  width: 55%;
  max-height: 300px;
  max-width: 300px;
  border: 8px solid #333;
  border-radius: 20px;
  margin-top: 10%;
}

.description {
  margin-top: 15%;
  margin-left: 5%;
  max-width: 550px;
  text-align: left;
}

/* 404 styling */
.notFound {
  text-align: center;
}

.no-border {
  border-style: none;
}

.mountains {
  width: 40%;
  margin-bottom: 10px;
  margin-top: 2.8rem;
}

/* Intro page oud animation */

.cloud-animation-div {
  width: 100%;
  height: 1px;
  overflow: visible;
}

.clouds {
  height: 5em;
  width: 8em;
}

.cloud-first {
  animation: cloudsMoveFromLeft 45s infinite;
  margin-right: 35%;
  margin-top: -10px;
}

.cloud-second {
  animation: cloudsMoveFromLeft 120s infinite;
  margin-right: 40%;
  margin-top: 42px;
}

.cloud-third {
  animation: cloudsMoveFromRight 90s infinite;
  margin-right: 33%;
  margin-top: 10px;
}

@keyframes cloudsMoveFromLeft {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(40rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes cloudsMoveFromRight {
  0% {
    transform: translateX(40rem);
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(40rem);
  }
}

/* Size adjustment for very large screens */
@media (max-width: 2562px) {
  .mountains {
    width: 36%;
  }

  .clouds {
    height: 3em;
    width: 6em;
  }

  .cloud-animation-div {
    margin-top: 0.5rem;
  }
}

/* Size adjustment for very large screens */
@media (max-width: 1438px) {
  .mountains {
    width: 50%;
  }
}

/* Repositioning and size adjustment for medium screens */
@media (max-width: 1022px) {
  .clouds {
    height: 1.5em;
    width: 3em;
  }

  .cloud-first {
    margin-right: 45%;
    margin-top: -15px;
  }

  .cloud-second {
    margin-right: 50%;
    margin-top: 28px;
  }

  .cloud-third {
    margin-right: 53%;
    margin-top: 15px;
  }

  @keyframes cloudsMoveFromLeft {
    0% {
      transform: translateX(0rem);
    }
    50% {
      transform: translateX(13rem);
    }
    100% {
      transform: translateX(0rem);
    }
  }

  @keyframes cloudsMoveFromRight {
    0% {
      transform: translateX(13rem);
    }
    50% {
      transform: translateX(0rem);
    }
    100% {
      transform: translateX(13rem);
    }
  }
}

/* Repositioning and size adjustment for small screens */
@media (max-width: 435px) {
  .me {
    height: 32%;
    width: 35%;
  }

  .welcome {
    margin-bottom: 200px;
  }

  .mountains {
    width: 75%;
  }

  .description {
    margin-top: 5%;
  }

  .intro-container {
    flex-direction: column;
    align-items: center;
  }

  .description {
    text-align: center;
    margin-right: 5%;
  }

  .panel-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}

/* Size adjustment for very small screens */
@media (max-width: 320px) {
  .clouds {
    height: 1em;
    width: 2em;
  }

  .me {
    height: 30%;
    width: 45%;
  }

  .panel-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}
