$green-light: #b2c99f;
$green-dark: #93b18f;
$green-vlight: #efefef;

$button-text-dark: #555;
$button-text-light: #fff;

$primary-btn-border: #eeeeee;
$default-btn-border: #adadad;

$nav-a-text: #515151;

body {
  color: rgb(93, 93, 93);
  font-family: LLCircularWeb, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Banner image */
.banner {
  background-image: url('https://s3.amazonaws.com/sdevito-web-portfolio/port-banner.png');
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px;
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Nav link styling */
a {
  color: $nav-a-text;
}
a:hover,
a:focus {
  color: $nav-a-text;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

.panel-title {
  font-weight: 700;
}

/* Panel heading styling */
.panel-default > .panel-heading {
  background-color: $green-light;
  border-color: #ddd;
}

/* Default button styling - Filter Button */
.btn-default:hover {
  color: $button-text-dark;
  background-color: $green-light;
  border-color: $default-btn-border;
}

.btn-default:focus {
  color: $button-text-dark;
  background-color: $green-light;
  border-color: $default-btn-border;
}

.btn-default:active {
  color: $button-text-dark;
  background-color: $green-light;
  border-color: $default-btn-border;
}

/* Primary button styling - Resume Button */
.btn-primary {
  color: $button-text-light;
  background-color: $green-dark;
  border-color: $primary-btn-border;
}

.btn-primary:hover {
  color: $button-text-light;
  background-color: $green-light;
  border-color: $primary-btn-border;
}

.btn-primary.focus {
  color: $button-text-light;
  background-color: $green-light;
  border-color: $primary-btn-border;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-color: $primary-btn-border;
  outline-style: none;
  outline-width: thin;
  background-color: $green-dark;
}

.btn-primary:focus,
.btn-primary.focus {
  color: $button-text-light;
  border-color: $primary-btn-border;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: $button-text-light;
  background-color: #8ca424;
  border-color: $primary-btn-border;
}

/* Resume component */
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh 0;
}

/* Resume filter size and positioning */
.filters {
  margin-bottom: 20px;
  max-width: 60vw;
  min-width: 360px;
}

/* Skills component */
.skills.header {
  text-align: center;
}

/* Skills flexbox container */
.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55vw;
  justify-content: center;
}

/* Skills panel */
.skills-panel {
  background-color: $green-vlight;
  border-color: #ddd;
  width: 40vw;
  min-width: 350px;
  font-weight: 700;
}

/* Individual skill flex alignment */
.child-skill {
  text-align: center;
  display: inline-block;
  margin: 10px 0 0 2%;
  flex-grow: 1;
  height: 30px;
  width: calc(86% * (1/4));
  justify-content: center;
}

/* Experience component */
.experience.header {
  text-align: center;
}

/* Experience panel size */
.experience {
  max-width: 55vw;
}

/* Education component */
.education.header {
  text-align: center;
}

/* Education panel size */
.education {
  max-width: 55vw;
}

/* Contact component */
.contact {
  text-align: center;
  padding: 5vh 0;
}

/* Contact component conent sizes and spacing */
.email {
  height: 50px;
  width: 60px;
}

.email-logo {
  transition: all 1s ease;
  background-size: contain;
  background-image: url('https://s3.amazonaws.com/sdevito-web-portfolio/mailIcon1.png');
  height: 130px;
  width: 130px;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.email-logo:hover {
  background-size: contain;
  transition: all 1s ease;
  background-image: url('https://s3.amazonaws.com/sdevito-web-portfolio/mailIcon2.png');
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact buttons */
.contact-btn,
.contact-btn:link,
.contact-btn:visited {
  color: #333;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  min-width: 100px;
  max-width: 60%;
  position: relative;
  margin-right: 1vw;
  margin-left: 1vw;
  border: 2px solid transparent;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: - 1em;
    top: -2px;
    height: 3.3em;
    width: 0;
    border: 1px solid #97b494;
    transition: inherit;
  }

  &:after {
    left: auto;
    right: -1em;
  }

  &:hover {
    border-color: #97b494;
    transition: border-color 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:after,
    &:before {
      right: -2px;
      transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    &:before {
      left: -2px;
      right: auto;
    }
  }
}

/* Banner styles, effects, and align*/
.blurred {
  -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
  filter: blur(2px);
}

.banner {
  background-size: cover;
  transition: 0.5s ease all;
}

/* Navbar styling pre-scroll */
.navbar {
  opacity: 0.94;
  transition: all 0.5s ease;
  margin-bottom: 0px;
}

/* Navbar styling post-scroll */
.nav-scroll {
  opacity: 1;
  transition: all 0.5s ease;
}

.intro-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 65vh;
  opacity: 0;
  transition: all 1s ease;
  justify-content: center;
}

.intro-container-scroll {
  opacity: 1;
  transition: all 1.5s ease;
}

.me {
  height: 63%;
  width: 55%;
  max-height: 300px;
  max-width: 300px;
  border: 8px solid #333;
  border-radius: 20px;
  margin-top: 10%;
}

.description {
  margin-top: 15%;
  margin-left: 5%;
  max-width: 550px;
  text-align: left;
}

/* 404 styling */
.notFound {
  text-align: center;
}

.projects-display {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b2c99f;
  height: 160px;
  color: #000000;
  padding: 8em;
}

.header-img {
  height: 85px;
  width: 85px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.no-border {
  border-style: none;
}

.header-text {
  margin: 0;
}

.project-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}

.project-div {
  flex: 1 1 50%;
  flex-direction: column;
  width: 100%;
}

.project-card {
  padding: 4em;
}

.card-title {
  font-weight: bold;
}

.card-text {
  margin-top: 1em;
}

.mountains {
  width: 50%;
  margin-bottom: 10px;
}

/* Intro page cloud animation */

.cloud-animation-div {
  width: 100%;
  height: 1px;
  overflow: visible;
}

.clouds {
  height: 5em;
  width: 8em;
}

.cloud-first {
  animation: cloudsMoveFromLeft 45s infinite;
  margin-right: 20%;
  margin-top: -25px;
}

.cloud-second {
  animation: cloudsMoveFromLeft 120s infinite;
  margin-right: 25%;
  margin-top: 42px;
}

.cloud-third {
  animation: cloudsMoveFromRight 90s infinite;
  margin-right: 20%;
  margin-top: 10px;
}

@keyframes cloudsMoveFromLeft {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(40rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes cloudsMoveFromRight {
  0% {
    transform: translateX(40rem);
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(40rem);
  }
}

/* Repositioning and size adjustment for small screens */
@media (max-width: 435px) {
  .me {
    height: 30%;
    width: 35%;
  }

  .welcome {
    margin-bottom: 200px;
  }

  .mountains {
    width: 75%;
  }

  .description {
    margin-top: 5%;
  }

  .intro-container {
    flex-direction: column;
    align-items: center;
  }

  .description {
    text-align: center;
    margin-right: 5%;
  }
}

/* Repositioning and size adjustment for medium screens */
@media (max-width: 1024px) {
  .clouds {
    height: 2em;
    width: 4em;
  }

  .cloud-first {
    margin-right: 15%;
    margin-top: -15px;
  }

  .cloud-second {
    margin-right: 20%;
    margin-top: 28px;
  }

  .cloud-third {
    margin-right: 17%;
    margin-top: 15px;
  }

  @keyframes cloudsMoveFromLeft {
    0% {
      transform: translateX(0rem);
    }
    50% {
      transform: translateX(13rem);
    }
    100% {
      transform: translateX(0rem);
    }
  }

  @keyframes cloudsMoveFromRight {
    0% {
      transform: translateX(13rem);
    }
    50% {
      transform: translateX(0rem);
    }
    100% {
      transform: translateX(13rem);
    }
  }
}
/* Size adjustment for very small screens */
@media (max-width: 320px) {
  .clouds {
    height: 1em;
    width: 2em;
  }

  .me {
    height: 30%;
    width: 45%;
  }
}
